<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Manage Satisfaction Surveys</title>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">

	<div th:fragment="content">

		<script th:inline="javascript">
			/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
			/*<![CDATA[*/
			var app = angular.module("viewSatisfactionSurveysAdminApp", []);
			
			/**
			 * A filter to humanize the text to be more user friendly.
			 */
			 app.filter('humanize', function() {
				return function(input) {
					return !input ? input : input.toLowerCase().split('_')
						.map((word) => word.charAt(0).toUpperCase() + word.substring(1))
						.join(' ');
				}
            });

			app.controller('viewSatisfactionSurveysAdminCtrl', function ($scope, $http) {
				$scope.surveys = [];
				$scope.loadSurveys = function() {
					$http.get("/iTrust2/api/v1/surveys").then(
							function(response) {
								$scope.surveys=response.data;
								$scope.message = "";
							}, function(rejection) {
					              $scope.surveys = [];
					              $scope.message = "Could not display surveys";
							});
				}
				
			});
			/*]]>*/
		</script>
		<div ng-app="viewSatisfactionSurveysAdminApp" ng-controller="viewSatisfactionSurveysAdminCtrl">
			<h3>Admin View Surveys</h3>
			<table class="table table-bordered">
				<caption>Existing Surveys:</caption>
				<thead>
					<tr>
						<th>HCP</th>
						<th>Patient</th>
						<th>Time Waited Waiting Room</th>
						<th>Time Waited Examination Room</th>
						<th>Satisfied Treatment</th>
						<th>Satisfied Office Visit</th>
						<th>Notes</th>
					</tr>
				</thead>

			</table>
		</div>
		
</body>

</html>