<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Manage Satisfaction Surveys</title>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">

	<div th:fragment="content">

		<script th:inline="javascript">
			/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
			/*<![CDATA[*/
			var app = angular.module("manageSatisfactionSurveysPatientApp", []);
			
			/**
			 * A filter to humanize the text to be more user friendly.
			 */
			 app.filter('humanize', function() {
				return function(input) {
					return !input ? input : input.toLowerCase().split('_')
						.map((word) => word.charAt(0).toUpperCase() + word.substring(1))
						.join(' ');
				}
            });

			app.controller('manageSatisfactionSurveysPatientCtrl', function ($scope, $http) {
				$scope.surveys = [];
				$scope.hcps = [];	
				$scope.patient = [];
				
				$scope.getPatient = function(){
					$http.get("/iTrust2/api/v1/patient").then(
					function(response) {
						
						$scope.patient = response.data;
						console.log($scope.patient);
						
						$scope.message = "";
					}, function(rejection) {
						console.log("test");
			              $scope.patient = [];
			              $scope.message = "Could not display hcps";
					});
				
				}
				
				//$scope.patient = [];
				//$scope.patient = /*[[${#httpServletRequest.remoteUser}]]*/null;
				//console.log($scope.patient);
			/**	$scope.survey = {
					patient_id: "",
					notes: "",
					hcp_id: "",
					time_waited_examination_room: "",
					time_waited_waiting_room: "",
					satisfied_office_visit: "",
					satisfied_treatment: ""
				}; */
				$scope.survey = {
					patient_id: "",
					notes: "",
					hcp_id: "",
					timeWaitedExaminationRoom: "",
					timeWaitedWaitingRoom: "",
					satisfiedOfficeVisit: "",
					satisfiedTreatment: ""
				};
				
				$scope.submit = function() {
					
					$scope.success = false;
					$scope.failure = false;
					
					$scope.survey.hcp_id = $scope.hcps[1].username;
					$scope.survey.notes = $scope.notes;
					$scope.survey.patient_id = $scope.patient.username;
					$scope.survey.satisfiedOfficeVisit = $scope.satisfiedVisit;
					$scope.survey.timeWaitedExaminationRoom = $scope.timeWaitedExam;
					$scope.survey.timeWaitedWaitingRoom= $scope.timeWaitedRoom;
					$scope.survey.satisfiedTreatment= $scope.satisfiedTreat;
					
					console.log($scope.survey);
					
					/**$http.post("/iTrust2/api/v1/surveyform",
							$scope.satisfiedVisit,
							$scope.satisfiedTreat,
							$scope.timeWaitedRoom,
							$scope.timeWaitedExam,
							$scope.hcps[1],
							$scope.patient,
							$scope.notes
							).then(
							function(response) {
								$scope.survey = response.data;
								console.log($scope.survey);
							},
							function(rejection) {
								$scope.failure = true;
								console.error("Error while adding Survey");
						});*/
					
					$http.post("/iTrust2/api/v1/surveys", $scope.survey).then(
						function(success) {
							$scope.success = true;
							$scope.failure = false;
						},
						function(rejection) {
							$scope.failure = true;
							console.error("Error while adding Survey");
					});

					
				}
				/**$scope.loadSurveysForPatient = function() {
					$http.get("/iTrust2/api/v1/surveys/mysurveys").then(
							function(response) {
								$scope.surveys=response.data;
								
								$scope.message = "";
							}, function(rejection) {
					              $scope.surveys = [];
					              $scope.message = "Could not display surveys";
							});
				}*/
				
				$scope.loadHcp = function() {
					$http.get("/iTrust2/api/v1/personnel/getbyroles/ROLE_HCP").then(
							function(response) {
								//console.log(response.data);
								for (var user of response.data) {
									$scope.hcps.push(user);
									console.log(user);
									
								}
								console.log($scope.hcps);
								
								//console.log("test");
								$scope.message = "";
							}, function(rejection) {
					              $scope.hcps= [];
					              $scope.message = "Could not display surveys";
							});
				}

				
				$scope.loadPatient = function() {
					
				}

				

				$scope.getTemplate = function (survey) {
                    return 'view';
                };
                
                //$scope.loadSurveysForPatient();
                $scope.getPatient();
                

                $scope.loadHcp();
                
                
				
			});
			/*]]>*/


		</script>
		 <div ng-app="manageSatisfactionSurveysPatientApp" ng-controller="manageSatisfactionSurveysPatientCtrl">

            <h3>Patient Survey Form</h3>
           <!--  <table class="table table-bordered">

                <caption>Existing Surveys:</caption>
                <thead>
                    <tr>
                        <th>HCP</th>
                        <th>Patient</th>
                        <th>Time Waited Waiting Room</th>
                        <th>Time Waited Examination Room</th>
                        <th>Satisfied Treatment</th>
                        <th>Satisfied Office Visit</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr name="satsfactionSurveys"
                        ng-repeat="s in surveys | orderBy: 'hcp_id'"
                        ng-include="getTemplate(s)" surveyId={{s.id}}>
                    </tr>
                </tbody>
            </table>
            <script type="text/ng-template" id="view">


            <td name="hcpCell">{{s.hcp.username}}</td>
            <td name="patientCell">{{s.patient.username}}</td>
            <td name="timeWaitingRoom">{{s.timeWaitedWaitingRoom}}</td>
            <td name="timeExamRoom">{{s.timeWaitedExaminationRoom}}</td>
            <td name="satisfiedTreatment">{{s.satisfiedTreatment}}</td>
            <td name="satisfiedOfficeVisit">{{s.satisfiedOfficeVisit}}</td>
            <td name="notes">{{s.notes}}</td>
			

        </div> -->
		<div class="col-md-5">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Create Satisfaction Survey</h3>
						</div>
						<div class="panel-body">
							<form>
								<div class="form-group">
									<label for="type">Patient Name:</label> 
									{{patient.username}}
								</div>

								<div class="form-group">
									<label for="hcp">HCP:
										</td> <select ng-model="hcps.username" name="hcp" id="hcp"
										class="form-control" >
											<option ng-repeat="hcp in hcps">{{hcp.username}}</option>
									</select>
									
									
								</div>

								<div class="form-group">
									<label for="time">Time Waited In Waiting Room: 
									<input type="number" min="1" max="120" value="1" ng-model = "timeWaitedRoom">
										
								</div>

								<div class="form-group">
									<label for="time">Time Waited In Examination Room:</label>
									<input type="number" min="1" max="120" value="1" ng-model = "timeWaitedExam">
								</div>
								
								<div class="form-group">
									<label for="time">Satisfied Office Visit:</label> 
									<input type="number" min="1" max="10" value="1" ng-model = "satisfiedVisit">
								</div>
								
								<div class="form-group">
									<label for="time">Satisfied Treatment:</label> 
									<input type="number" min="1" max="10" value="1" ng-model = "satisfiedTreat">
								</div>
								
								<div class="form-group">
									<label for="notes">Notes:</label>
									<textarea maxlength = "500" id="notes" class="form-control"
										ng-model="notes" name="notes">
									</textarea>
								</div>

								<div class="form-group">
									<button type="submit" class="btn btn-primary"
										ng-click="submit()" name="submitRequest">Submit
										Survey</button>
								</div>

							</form>
						</div>
					</div>
		</div>
</body>

</html>